<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <base href="&baseurl&" />
    <title>&title& - Competitive Programming Algorithms</title>

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/xcode.min.css" />

    <script src="js/jq.js"></script>
    <script src="js/common.js"></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script src="js/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script src="js/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>

<body>
    <div id="container">
        <div id="navbar">
            <span id="title">
                <a href="./index.html">CP-Algorithms</a>
            </span>
        </div>
        &text&
        <div id="footer">
            (c) 2014-&year& translation by <a href="http://github.com/e-maxx-eng">http://github.com/e-maxx-eng</a>
        </div>
    </div>
</body>

</html>
